<div class="nav-container">
    <a href="index.html" class="logo">
        <img src="assets/img/logo/logo-sekolah/logo.webp" alt="Logo SMK N 4 Kendal" class="logo-img">
        <div class="logo-brand">
            <div class="logo-main">SMKN 4 Kendal</div>
            <div class="logo-tagline">Skanifo Unggul Berkarakter</div>
        </div>
    </a>

    <ul class="nav-links">
        <li><a href="index.html">Beranda</a></li>
        <li class="dropdown">
            <a href="#">Profil <i class="ph ph-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="visi-misi.html">Visi & Misi</a>
                <a href="profilsekolah.html">Profil Sekolah</a>
                <a href="struktur-organisasi.html">Struktur Organisasi</a>
                <a href="direktori.html">Guru & Staff</a>
                <a href="ekskul.html">Ekstrakurikuler</a>
                <a href="prestasi.html">Prestasi</a>
            </div>
        </li>
        <li><a href="berita.html">Berita</a></li>
        <li><a href="pengumuman.html">Pengumuman</a></li>
        <li><a href="agenda.html">Agenda</a></li>
        <li class="dropdown">
            <a href="#">SPMB <i class="ph ph-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="spmb.html">SPMB Skanifo</a>
                <a href="https://spmb.jatengprov.go.id/" target="_blank">SPMB JATENG</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Lainnya <i class="ph ph-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="galeri.html">Galeri Foto</a>
                <a href="galeri-video.html">Galeri Video</a>
                <a href="kontak.html">Hubungi Kami</a>
            </div>
        </li>
    </ul>

    <div class="nav-actions">
        <a href="login.html" class="btn btn-login">Login</a>
        <button class="mobile-menu-btn" id="mobile-menu-btn">
            <i class="ph ph-list"></i>
        </button>
    </div>
</div>

<!-- Mobile Menu -->
<div class="mobile-menu" id="mobile-menu">
    <a href="index.html">Beranda</a>
    <a href="visi-misi.html">Profil</a>
    <a href="berita.html">Berita</a>
    <a href="pengumuman.html">Pengumuman</a>
    <a href="agenda.html">Agenda</a>
    <a href="spmb.html">- SPMB Skanifo</a>
    <a href="https://spmb.jatengprov.go.id/" target="_blank">- SPMB JATENG</a>
    <a href="login.html" class="btn btn-login mobile-btn">Login</a>
</div>